<h2>Sign up</h2>
<% resource.build_profile %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
<%= f.fields_for :profile do |p| %>
	<div class="field">
		
		<%= p.label :first_name %><br />
		<%= p.text_field :first_name %>
	</div>

	<div class="field">
		
		<%= p.label :last_name %><br />
		<%= p.text_field :last_name%>
	</div>

	<div class="field">
		
		<%= f.label "Date of Birth" %> <br />
		<%= p.date_select :dob, order: %i[day month year] %>
	</div>
<% end %>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%= render "users/shared/links" %>
