<div class="container" id="product-section">
  <div class="row">
    <div class="col-md-6">
      <div class="gallery">
        <div id='carousel-custom' class='carousel slide'>
          <div class='carousel-outer'>
            <div class='carousel-inner '>
              <div class='item active'>
              <%=  image_tag @project.image_url(:landscape)%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h1 class="main-title"><%= @project.name %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="description"><%= @project.long_description %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 bottom-rule">
          <h2 class="product-price">Completion: <%= @project.collect[1] %>%</h2>
        </div>
      </div>
      <div class="row'">
        <div class="col-md-12">
        <%= form_for Contribution.new, url: contributions_path, method: :post  do |f|%>
          <div class="row mb-3 mt-2">
            <div class="col-md-6">
              <div class="form-group">
              <%= f.collection_select :counterpart_id, @project.counterparts, :id, :name_with_price, class:"form-control select2"%>
              <%= f.hidden_field :project_id, value: @project.id%>
              </div>
            </div>
          </div>
          <div class="row add-to-cart">
            <div class="col-md-6">
            <% if user_signed_in? %>
              <%=f.submit 'Subscribe',class: "btn btn-outline-success btn-lg" %>
            <% end %>
            </div>
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
